{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block body %}
    <h1>Please sign </h1>
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <button type="submit" class="btn btn-primary mr-1">Register!</button>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
{% endblock %}