{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div>
    {% if app.user  %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Recent tickets</h6>
            {% for article in articles|reverse %}
                {% for users in user %}
                    <a href="">{{ users.username }}</a>
                {% endfor %}
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div><h4><a href="{{ path('post_show',{'id':article.id}) }}">{{ article.title }}</a></h4>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('edit_post',{'id':article.id}) }}">
                                <i class="fas fa-edit"></i></a>
                                <a href="{{ path('delete_article',{'id':article.id}) }}"><i class="far fa-trash-alt"></i></a>
                            {% endif %}
                        </div>
                    <div><small>Ecrit le {{ article.createdAt | date('d/m/Y') }}  à {{ article.createdAt | date('H:i') }} par {{ article.user.username}}</small></div>
                </div>

            </div>
            {% endfor %}
        </div>
        {% endif %}
{% endblock %}