{% extends 'base.html.twig' %}

{% block body %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h1>{{ article.title }}</h1>
        <div>
            {{ article.content | raw}}
        </div>
        <div>
            Ecrit le {{ article.createdAt | date('d/m/Y') }}  à {{ article.createdAt | date('H:i') }}  par {{ article.user.username}}
        </div>
    </div>
    <div class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
    </div>
   <section id="commentaires">
        {% for comment in article.comments %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('delete_comment',{'id':comment.id}) }}"><i class="far fa-trash-alt"></i></a>
                <i class="fas fa-edit"></i>
            {% endif %}
            <div class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
                <div class="row">
                    <div class="col-3">

                    <div class="col">
                        {{ comment.content|raw }}
                    </div>
                        {{ comment.user.username }}
                        <small>{{ comment.createdAt |date('d/m/Y à H:i') }}</small>
                    </div>
                </div>
            </div>
       {% endfor %}
       {{ form_start(commentForm) }}
       {{ form_row(commentForm.content) }}
       <button type="submit" class="btn btn-primary mr-1">Envoyer!</button>
       {{ form_end(commentForm) }}
    </section>
{% endblock %}